@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(3, 153, 216, 1) 81%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* .main {
  border: 2px solid gray;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.child {
  border: 2px solid gray;
  margin: 2vh;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(3, 153, 216, 1) 81%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.no-users {
  color: #9d2828;
  background-color: azure;
  text-align: center;
  width: 200%;
}

.contents {
  display: block;
  font-family: "Rubik", sans-serif;
}

.btn {
  position: relative;
}

.date {
  margin-top: 2vh;
}
