body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main {
  border: 2px solid gray;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.child {
  border: 2px solid gray;
  margin: 2vh;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

.btn {
  margin: 0 2vh;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.no-users {
  color: #9d2828;
  background-color: azure;
  text-align: center;
}
